<?xml version="1.0"?>
<config>
    <modules>
        <TSA_Newsletter>
            <version>0.0.0.0</version>
        </TSA_Newsletter>
    </modules>
    <frontend>
        <layout>
            <updates>
                <tsa_newsletter>
                    <file>tsa_newsletter.xml</file>
                </tsa_newsletter>
            </updates>
        </layout>
        <routers>
            <newsletter>
                    <args>
                        <modules>
                            <tsa_newsletter before="Mage_Newsletter">TSA_Newsletter</tsa_newsletter>
                        </modules>
                    </args>
            </newsletter>
        </routers>
    </frontend>
</config>