<?xml version="1.0"?>
<config>
    <modules>
        <TSA_Newsletter>
            <version>0.0.0.0</version>
        </TSA_Newsletter>
    </modules>
    <frontend>
        <layout>
            <updates>
                <tsa_newsletter>
                    <file>tsa_newsletter.xml</file>
                </tsa_newsletter>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_newsletter_subscriber_new>
                <observers>
                    <tsa_newsletter_subscribe_observer>
                        <type>singleton</type>
                        <class>TSA_Newsletter_Model_Observer</class>
                        <method>subscribeNewsletterAjax</method>
                    </tsa_newsletter_subscribe_observer>
                </observers>
            </controller_action_predispatch_newsletter_subscriber_new>
        </events>
    </frontend>
</config>